/* ============= VARIABLES ============= */
:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --sublle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f4266;
  --hero-background: #2e2f42b3;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
  --transition-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ============= /VARIABLES ============= */

/* ============= COMMON STYLES ============= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white-background);
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ============= /COMMON STYLES ============= */

/* ================ COMPONENTS ================ */
.section-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--dark);
}

.list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: var(--dark);
}

.list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--text);
}

.centered {
  text-align: center;
}
/* ================ /COMPONENTS ================ */

/* ============= PAGE HEADER ============= */
.header {
  background: var(--white-background);
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 76px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.logo-text-dark {
  color: var(--dark);
}

.logo-text-light {
  color: var(--light);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.menu-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--dark);
  transition: color var(--transition-effect);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state);
}

.contacts-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-style: normal;
}

.contacts-link {
  display: inline-block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--text);
  transition: color var(--transition-effect);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--pressed-state);
}

.current {
  position: relative;
  color: var(--pressed-state);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--pressed-state);
  border-radius: 2px;
}
/* ============= /PAGE HEADER ============= */

/* ================ HERO ================ */
.hero {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/background-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.main-title {
  max-width: 496px;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: var(--white-background);
}

.main-button {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--white-background);
  background-color: var(--primary-brand);
  border: none;
  border-radius: 4px;
  transition: background-color var(--transition-effect);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--pressed-state);
}
/* ================ /HERO ================ */

/* ================ BENEFITS ================ */
.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.benefits-item {
  flex-basis: calc((100% - 72px) / 4);
}

.benefits-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background: var(--light);
}

.benefits-item-title {
  margin-bottom: 8px;
}
/* ================ /BENEFITS ================ */

/* ================ WHAT ARE WE DOING ================ */
.activities {
  padding-bottom: 120px;
}

.activities-list {
  display: flex;
  gap: 24px;
}

.activities-item {
  flex-basis: calc((100% - 48px) / 3);
}
.activities-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ================ /WHAT ARE WE DOING ================ */

/* ================ TEAM ================ */
.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--light);
}

.team-section-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.team-card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 72px) / 4);
  background: var(--white-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-card-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 232px;
  padding: 32px 0;
}

.team-card-title {
  margin-bottom: 8px;
}

.team-card-text {
  margin-bottom: 8px;
}

.social-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-icons-item {
  flex-basis: calc((100% - 72px) / 4);
  width: 40px;
  height: 40px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color var(--transition-effect);
}

.team-card:hover .social-icons-link,
.team-card:focus .social-icons-link {
  background-color: var(--pressed-state);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--pressed-state);
}

.social-icon {
  fill: var(--light);
}
/* ================ /TEAM ================ */

/* ================ CUSTOMERS ================ */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.customer-item {
  flex-basis: calc((100% - 120px) / 6);
  width: 168px;
  height: 88px;
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--sublle-text);
  border: 1px solid var(--sublle-text);
  border-radius: 4px;
  transition: border-color var(--transition-effect),
    color var(--transition-effect);
}

.customer-icon {
  fill: currentColor;
  transition: fill var(--transition-effect);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
}

.customer-item:hover .customer-icon,
.customer-item:focus .customer-icon {
  fill: currentColor;
}
/* ================ /CUSTOMERS ================ */

/* ================ FOOTER ================ */
.footer {
  padding: 100px 0;
  background-color: var(--dark);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  width: 264px;
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--light);
}

.footer-center {
  width: 208px;
  margin-right: 120px;
}

.footer-paragraph-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--white-background);
}

.footer-socials {
  gap: 16px;
}

.footer-social-item {
  flex-basis: calc((100% - 48px) / 4);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--success);
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-mail {
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.48px;
  color: var(--white-background);
  border-radius: 4px;
  border: 1px solid var(--white-background);
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-mail::placeholder {
  color: var(--white-background);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
}

.footer-mail:focus {
  outline: none;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
}

.footer-icon {
  margin-left: 16px;
  fill: var(--white-background);
}

/* ================ /FOOTER ================ */

/* ================ PORTFOLIO ================ */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-button {
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--primary-brand);
  background-color: var(--light);
  border: 1px solid var(--accent);
  border-radius: 4px;
  transition: border-color var(--transition-effect),
    background-color var(--transition-effect), color var(--transition-effect),
    box-shadow var(--transition-effect);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
  border-color: transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.projects-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project-card {
  width: calc((100% - 48px) / 3);
  background: var(--white-background);
  transform: box-shadow var(--transition-effect);
}

.project-card-link {
  display: block;
  transition: box-shadow var(--transition-effect);
}

.project-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card-img-thumb {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--light);
  background-color: var(--primary-brand);
  transform: translateY(100%);
  transition: transform var(--transition-effect);
}

.project-card-link:hover .card-overlay,
.project-card-link:focus .card-overlay {
  transform: translateY(0%);
}

.project-card-thumb {
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
  transition: border var(--transition-effect);
}

.project-card-title {
  margin-bottom: 8px;
}

.project-card-link:hover,
.project-card-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-card:hover .project-card-thumb,
.project-card:focus .project-card-thumb {
  border: 1px solid var(--light);
  border-top: none;
}

/* ================ /PORTFOLIO ================ */

/* ================ MODAL ================ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay);
  transition: opacity var(--transition-effect),
    visibility var(--transition-effect);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: var(--modal-background);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform var(--transition-effect);
}

.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent);
  transition: background-color var(--transition-effect),
    border var(--transition-effect);
}

.modal-close-icon {
  fill: var(--dark);
  transition: fill var(--transition-effect);
}

.button-close:hover,
.button-close:focus {
  border: none;
  background-color: var(--pressed-state);
}

.button-close:hover .modal-close-icon,
.button-close:focus .modal-close-icon {
  fill: var(--white-background);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%);
}

.modal-title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--dark);
}

/* Form */
.form {
  max-width: 360px;
  margin: 0 auto;
}

.form-input-field {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--sublle-text);
}

.form-input-thumb {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid var(--modal-overlay);
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition-effect);
}

.form-input:focus {
  border-color: var(--primary-brand);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--dark);
  transition: fill var(--transition-effect);
}

.form-input:focus + .form-icon {
  fill: var(--primary-brand);
}

/* Textarea */
.form-textarea-field {
  margin-bottom: 16px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--modal-overlay);
  resize: none;
  border-radius: 4px;
  border: 1px solid var(--modal-overlay);
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition-effect);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--modal-overlay);
}

.form-textarea:focus {
  border-color: var(--primary-brand);
}

/* Checkbox */
.form-checkbox-field {
  margin-bottom: 24px;
}

.checkbox-text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--sublle-text);
}

.checkbox-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: transparent;
  border: 1px solid var(--modal-overlay);
  border-radius: 2px;
  transition: background-color var(--transition-effect),
    border var(--transition-effect), fill var(--transition-effect);
}

.checkbox:checked + .checkbox-text .checkbox-custom {
  fill: var(--light);
  background-color: var(--pressed-state);
  border: none;
}

.checkbox-link {
  color: var(--primary-brand);
}

.form-button {
  display: block;
  margin: 0 auto;
}
/* ================ /MODAL ================ */
