.benefits-list {
  display: flex;
  justify-content: space-between;
}

.benefits-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background: var(--light);
}

.benefits-item-title {
  margin-bottom: 8px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--dark);
}

@media screen and (max-width: 767px) {
  .benefits {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .benefits-item-icon {
    display: none;
  }

  .benefits-list {
    flex-direction: column;
    gap: 72px;
  }

  .benefits-list-text {
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .benefits {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .benefits-item-icon {
    display: none;
  }

  .benefits-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .benefits-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .benefits-list-text {
    font-weight: 500;
  }
}

@media screen and (min-width: 1440px) {
  .benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-list {
    gap: 24px;
  }

  .benefits-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .benefits-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
}
