.section-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--dark);
}

.list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--text);
}

.centered {
  text-align: center;
}
